<!-- 
<link rel="stylesheet" href="assets/plugins/JqGrid/css/ui.jqgrid-bootstrap-ui.css" />
 -->
<script type="text/javascript" src="assets/plugins/JqGrid/js/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="assets/plugins/JqGrid/js/jquery.jqGrid.src.js"></script>

<!--  
<script type="text/javascript" src="assets/js/plugin/jqgrid/grid.locale-en.min.js"></script>
<script type="text/javascript" src="assets/js/plugin/jqgrid/jquery.jqGrid.min.js"></script>
-->
<table id="list2" style="width:100%"></table> 
<div id="pager2"></div>
<br>
<script>
$(function(){
	//页面加载完成之后执行
	pageInit();
});
function pageInit(){
	//创建jqGrid组件
	jQuery("#list2").jqGrid(
			{
				url : '/cramer/testdata',//组件创建完成之后请求数据的url
				datatype : "json",//请求数据返回的类型。可选json,xml,txt
				autowidth:true,
				height:'auto',
				colNames : [ 'Inv No', 'Date', 'Client', 'Amount', 'Tax','Total', 'Notes' ],//jqGrid的列显示名字
				colModel : [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
				             {name : 'id',index : 'id',width : 55}, 
				             {name : 'invdate',index : 'invdate',width : 90}, 
				             {name : 'name',index : 'name asc, invdate',width : 100}, 
				             {name : 'amount',index : 'amount',width : 80,align : "right"}, 
				             {name : 'tax',index : 'tax',width : 80,align : "right"}, 
				             {name : 'total',index : 'total',width : 80,align : "right"}, 
				             {name : 'note',index : 'note',width : 150,sortable : false} 
				           ],
				rowNum : 10,//一页显示多少条
				rowList : [ 10, 20, 30 ],//可供用户选择一页显示多少条
				pager : '#pager2',//表格页脚的占位符(一般是div)的id
				sortname : 'id',//初始化的时候排序的字段
				sortorder : "desc",//排序方式,可选desc,asc
				mtype : "post",//向后台请求数据的ajax的类型。可选post,get
				viewrecords : true,
				caption : "JSON Example"//表格的标题名字
			});
	/*创建jqGrid的操作按钮容器*/
	/*可以控制界面上增删改查的按钮是否显示*/
	jQuery("#list2").jqGrid('navGrid', '#pager2', {edit : false,add : false,del : false});
}
</script>