<section id="widget-grid" class="">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"><i class="fa fa-table"></i></span>
					<h2>服务监控</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body ">
						<div class="table-responsive">
							<table class="table table-bordered" id="main-table">
								
							</table>
						</div>

						<input id="page-num" type="hidden" value="1" /> 
						<input id="page-size" type="hidden" value="20" />
						<ul id="pager" class="pagination"></ul>
					</div>
				</div>
			</div>
		</article>
		
	</div>

</section>

<script id="track_view_tpl" type="text/html">
<form action="" class="smart-form ">
<fieldset>
<section>
	<label class="textarea">
		<textarea rows="24" value="" placeholder="">{{text}}</textarea>
	</label>
</section>
</fieldset>
</form>
</script>

<script id="info_view_tpl" type="text/html">
<form action="" class="smart-form ">
<fieldset>
<section>
	<label class="textarea">
		<textarea rows="24" value="" placeholder="">{{text}}</textarea>
	</label>
</section>
</fieldset>
</form>
</script>

<script src="js/module/esb/request.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	Request.List({condition:"{status:11202}"});
	
	//定时刷新--会导致所有页面都如此，待修改
	//setInterval(function(){$("#main-table").trigger("reloadGrid");},5000);
});
</script>