<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"> 
			<i class="fa fa-table fa-fw "></i> 用户管理
		<span>
</span>
	
</h1>
	</div>

</div>

<section id="widget-grid" class="">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"><i class="fa fa-table"></i></span>
					<h2>用户列表</h2>

				</header>
				<div>
					<div class="jarviswidget-editbox">

					</div>
					<div class="widget-body ">
						<p>展示<code>系统用户</code>详情数据</p>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>编号</th>
										<th>名称</th>
										<th>密码</th>
										<th>状态</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>admin</td>
										<td>123456</td>
										<td>enable</td>
									</tr>
									<tr>
										<td>1</td>
										<td>admin</td>
										<td>123456</td>
										<td>enable</td>
									</tr>
									<tr>
										<td>1</td>
										<td>admin</td>
										<td>123456</td>
										<td>enable</td>
									</tr>
									<tr>
										<td>1</td>
										<td>admin</td>
										<td>123456</td>
										<td>enable</td>
									</tr>
									<tr>
										<td>1</td>
										<td>admin</td>
										<td>123456</td>
										<td>enable</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
					<!-- end widgetContent -->

				</div>
				<!-- end jarvisWidgetBody -->

			</div>
			<!-- end widget -->
			<!-- end jarvisWidget -->


		</article>
		<!-- end widgetGridCol -->

	</div>
	<!-- end widgetGridRow -->

</section>
<!-- end widgetGrid -->

<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();

	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */

	// PAGE RELATED SCRIPTS

	// pagefunction

	var pagefunction = function() {

	};

	// end pagefunction

	// run pagefunction on load

	pagefunction();
</script>