<section id="widget-grid" class="">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-6">
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false">
				<header>
					<span class="widget-icon"><i class="fa fa-check txt-color-white"></i></span>
					<h2>待办事项</h2>
				</header>
				<div style="height:482px;">
					<div class="widget-body no-padding smart-form" id="">
						<!-- content goes here -->
						<h5 class="todo-group-title">
							<i class="fa fa-inbox"></i> 收件箱(<small class="num-of-tasks">99</small>)
						</h5>
						<ul id="sortable1" class="todo">
							<li><span class="handle"><i class="fa fa-angle-double-right fa-2x"></i></span>
								<p>
									<strong>用户A</strong> - 测试邮件 
									[<a href="javascript:void(0);" class="font-xs">更多详情</a>] 
									<span class="date">2014年6月1号</span>
								</p>
							</li>
							<li><span class="handle"><i class="fa fa-angle-double-right fa-2x"></i></span>
								<p>
									<strong>用户A</strong> - 测试邮件 
									[<a href="javascript:void(0);" class="font-xs">更多详情</a>] 
									<span class="date">2014年6月1号</span>
								</p>
							</li>
							<li><span class="handle"><i class="fa fa-angle-double-right fa-2x"></i></span>
								<p>
									<strong>用户A</strong> - 测试邮件 
									[<a href="javascript:void(0);" class="font-xs">更多详情</a>] 
									<span class="date">2014年6月1号</span>
								</p>
							</li>
						</ul>
						<h5 class="todo-group-title">
							<i class="fa fa-check-square-o"></i> 待审批列表(<small class="num-of-tasks">3</small>)
						</h5>
						<ul id="sortable2" class="todo">
							<li><span class="handle"><i class="fa fa-angle-double-right fa-2x"></i></span>
								<p>
									<strong>业务审批</strong> - 关于XXX的申请: 
									[<a href="javascript:void(0);" class="font-xs">更多详情</a>] 
									<span class="date">2014年6月1号</span>
								</p>
							</li>
							<li><span class="handle"><i class="fa fa-angle-double-right fa-2x"></i></span>
								<p>
									<strong>业务审批</strong> - 关于XXX的申请: 
									[<a href="javascript:void(0);" class="font-xs">更多详情</a>] 
									<span class="date">2014年6月1号</span>
								</p>
							</li>
							<li><span class="handle"><i class="fa fa-angle-double-right fa-2x"></i></span>
								<p>
									<strong>业务审批</strong> - 关于XXX的申请: 
									[<a href="javascript:void(0);" class="font-xs">更多详情</a>] 
									<span class="date">2014年6月1号</span>
								</p>
							</li>
							<li><span class="handle"><i class="fa fa-angle-double-right fa-2x"></i></span>
								<p>
									<strong>业务审批</strong> - 关于XXX的申请: 
									[<a href="javascript:void(0);" class="font-xs">更多详情</a>] 
									<span class="date">2014年6月1号</span>
								</p>
							</li>
							<li><span class="handle"><i class="fa fa-angle-double-right fa-2x"></i></span>
								<p>
									<strong>业务审批</strong> - 关于XXX的申请: 
									[<a href="javascript:void(0);" class="font-xs">更多详情</a>] 
									<span class="date">2014年6月1号</span>
								</p>
							</li>
						</ul>
					</div>
				</div>

			</div>
			
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2"
				data-widget-editbutton="false" data-widget-colorbutton="false">
				<header>
					<span class="widget-icon"><i class="fa fa-bar-chart-o txt-color-white"></i></span>
					<h2>自定义组件</h2>
				</header>
				<div style="height:221px;">
					
				</div>
			</div>

		</article>

		<article class="col-sm-12 col-md-12 col-lg-6">
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3"
				data-widget-editbutton="false" data-widget-colorbutton="false">
				<header>
					<span class="widget-icon"><i
						class="fa fa-newspaper-o txt-color-white"></i></span>
					<h2>通知公告</h2>
				</header>
				<div class="tab-content padding-top-10">
					<div class="tab-pane fade in active " id="a1">
						<div class="row ">
							<div class="col-xs-2 col-sm-1">
								<time datetime="2017-06-06" class="icon">
									<strong>6月</strong> <span>6</span>
								</time>
							</div>
							<div class="col-xs-10 col-sm-11">
								<h6 class="no-margin">
									<a href="javascript:void(0);">发布1.0版本</a>
								</h6>
								<p style="height:54px;">
									Cramer是基于多个优秀的开源项目，高度整合封装而成的开源Java EE快速开发平台。技术选型：Spring 4.0，Shiro 1.2，Spring MVC 4.0，Spring Task 4.0，MyBatis 3.1，Druid 1.0，Ehcache 2.6，Bootstrap 3.0。
								</p>
							</div>
							<div class="col-sm-12 ">
								<hr>
							</div>

							<div class="col-xs-2 col-sm-1">
								<time datetime="2017-06-06" class="icon">
									<strong>6月</strong> <span>6</span>
								</time>
							</div>
							<div class="col-xs-10 col-sm-11">
								<h6 class="no-margin">
									<a href="javascript:void(0);">Cramer系统简介</a>
								</h6>
								<p style="height:54px;">
									Cramer是基于多个优秀的开源项目，高度整合封装而成的开源Java EE快速开发平台。技术选型：Spring 4.0，Shiro 1.2，Spring MVC 4.0，Spring Task 4.0，MyBatis 3.1，Druid 1.0，Ehcache 2.6，Bootstrap 3.0。
								</p>
							</div>
							<div class="col-sm-12 ">
								<br>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-4"
				data-widget-colorbutton="false" data-widget-editbutton="false" >
				<header>
					<span class="widget-icon"><i class="fa fa-calendar"></i></span>
					<h2>日历</h2>
					<div class="widget-toolbar ">
						<!-- add: non-hidden - to disable auto hide -->
						<div class="btn-group">
							<button class="btn dropdown-toggle btn-xs btn-default"
								data-toggle="dropdown">
								显示 <i class="fa fa-caret-down"></i>
							</button>
							<ul class="dropdown-menu js-status-update pull-right">
								<li><a href="javascript:void(0);" id="mt">星期</a></li>
								<li><a href="javascript:void(0);" id="ag">日程</a></li>
								<li><a href="javascript:void(0);" id="td">今天</a></li>
							</ul>
						</div>

					</div>
					<!-- end jarvisWidgetToolbar -->

				</header>
				<div>
					<div class="jarviswidget-editbox">
						<input type="text" class="form-control">

					</div>
					<div class="widget-body no-padding" id="">
						<div class="widget-body-toolbar " id="">
							<div id="calendar-buttons">

								<div class="btn-group">
									<a href="javascript:void(0)" class="btn btn-default btn-xs"
										id="btn-prev"><i class="fa fa-chevron-left"></i> </a> <a
										href="javascript:void(0)" class="btn btn-default btn-xs"
										id="btn-next"><i class="fa fa-chevron-right"></i> </a>
								</div>
							</div>

						</div>
						<div id="calendar"></div>

					</div>
					<!-- end widgetContent -->

				</div>
				<!-- end jarvisWidgetBody -->

			</div>
			<!-- end widget -->
			<!-- end jarvisWidget -->

		</article>


	</div>
	<!-- end widgetGridRow -->

</section>
<!-- end widgetGrid -->



<script type="text/javascript">

	pageSetUp();
	
	
	var pagefunction = function() {
			
		
		
		/*
		 * FULL CALENDAR JS
		 */
		
		// Load Calendar dependency then setup calendar
		loadScript("js/plugin/fullcalendar/jquery.fullcalendar.min.js", setupCalendar);
		
		function setupCalendar() {
		
		    if ($("#calendar").length) {
		        var date = new Date();
		        var d = date.getDate();
		        var m = date.getMonth();
		        var y = date.getFullYear();
		
		        var calendar = $('#calendar').fullCalendar({
		
		            editable: true,
		            draggable: true,
		            selectable: false,
		            selectHelper: true,
		            unselectAuto: false,
		            disableResizing: false,
		
		            header: {
		                left: 'title', //,today
		                center: 'prev, next, today',
		                right: 'month, agendaWeek, agenDay' //month, agendaDay,
		            },
		
		            select: function (start, end, allDay) {
		                var title = prompt('Event Title:');
		                if (title) {
		                    calendar.fullCalendar('renderEvent', {
		                            title: title,
		                            start: start,
		                            end: end,
		                            allDay: allDay
		                        }, true // make the event "stick"
		                    );
		                }
		                calendar.fullCalendar('unselect');
		            },
		
		            events: [],
		
		            eventRender: function (event, element, icon) {
		                if (!event.description == "") {
		                    element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description +
		                        "</span>");
		                }
		                if (!event.icon == "") {
		                    element.find('.fc-event-title').append("<i class='air air-top-right fa " + event.icon +
		                        " '></i>");
		                }
		            }
		        });
		
		    };
		
		    /* hide default buttons */
		    $('.fc-header-right, .fc-header-center').hide();
		
		}
		
		// calendar prev
		$('#calendar-buttons #btn-prev').click(function () {
		    $('.fc-button-prev').click();
		    return false;
		});
		
		// calendar next
		$('#calendar-buttons #btn-next').click(function () {
		    $('.fc-button-next').click();
		    return false;
		});
		
		// calendar today
		$('#calendar-buttons #btn-today').click(function () {
		    $('.fc-button-today').click();
		    return false;
		});
		
		// calendar month
		$('#mt').click(function () {
		    $('#calendar').fullCalendar('changeView', 'month');
		});
		
		// calendar agenda week
		$('#ag').click(function () {
		    $('#calendar').fullCalendar('changeView', 'agendaWeek');
		});
		
		// calendar agenda day
		$('#td').click(function () {
		    $('#calendar').fullCalendar('changeView', 'agendaDay');
		});
		
	}
	pagefunction();
	
	
</script>