
	<div class="row ">
    		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark"> 
				<i class="fa fa-desktop fa-fw"></i>
 UI 组件 
			<span>
    > 按钮 
</span>
		
</h1>
</div>

			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    		<ul id="sparks" >
    			<li class="sparks-info">
    				 <h5> 个人收入 <span class="txt-color-blue">$47,171</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
    					1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
				
</div>
			
</li>
			<li class="sparks-info">
    				<h5> 站点流量 <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
    					110,150,300,130,400,240,220,310,220,300, 270, 210
				
</div>
			
</li>
			<li class="sparks-info">
    				<h5> 站点营收 <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
    					110,150,300,130,400,240,220,310,220,300, 270, 210
				
</div>
			
</li>
		
</ul>
	
</div>
	
</div>

<section id="widget-grid" class="">
    	<div class="row">
    		<article class="col-sm-12">
    			<div class="jarviswidget well" id="wid-id-0a"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>Buttons at a glance </h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    					    <h1>按钮浏览</h1>
					    <p>
							Bootstrap按钮系统浏览 
					    </p>
					    <div class="table-responsive">
					        <table class="table table-bordered">
					            <thead>
						            <tr>
						                <th>默认大小</th>
						                <th>大按钮</th>
						                <th>小按钮</th>
						                <th>超小按钮</th>
						                <th>禁用按钮</th>
						                <th>带图标按钮</th>
						                <th>下拉按钮</th>
						            </tr>
					            </thead>
					            <tbody>
						            <tr>
										<td><a class="btn btn-default" href="javascript:void(0);">
    默认
</a>
</td>
										<td><a class="btn btn-default btn-lg" href="javascript:void(0);">
    默认
</a>
</td>
										<td><a class="btn btn-default btn-sm" href="javascript:void(0);">
    默认
</a>
</td>
										<td><a class="btn btn-default btn-xs" href="javascript:void(0);">
    默认
</a>
</td>
										<td><a class="btn btn-default disabled" id="" href="javascript:void(0);">
    默认
</a>
</td>
										<td><a class="btn btn-default" href="javascript:void(0);">
    <i class="fa fa-cog"></i> 默认
</a>
</td>  
										<td>
						                    <div class="btn-group">
    <a class="btn btn-default" href="javascript:void(0);">默认</a>
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
    <ul class="dropdown-menu">
						                        	<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						                    
    </ul>
</div><!-- /btn-group -->
						                </td>
						            </tr>
						            <tr>
										<td><a class="btn btn-primary" href="javascript:void(0);">
    主要
</a>
</td>
										<td><a class="btn btn-primary btn-lg" >
    主要
</a>
</td>
										<td><a class="btn btn-primary btn-sm" href="javascript:void(0);">
    主要
</a>
</td>
										<td><a class="btn btn-primary btn-xs" href="javascript:void(0);">
    主要
</a>
</td>
										<td><a class="btn btn-info disabled" id="" href="javascript:void(0);">
    主要
</a>
</td>
										<td><a class="btn btn-info" href="javascript:void(0);">
    <i class="fa fa-shopping-cart"></i> 主要
</a>
</td> 
										<td>
						                    <div class="btn-group">
    <a class="btn btn-primary" href="javascript:void(0);">主要</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
    <ul class="dropdown-menu">
						                        	<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						                    
    </ul>
</div><!-- /btn-group -->
						                </td>
						            </tr>
						            <tr>
										<td><a class="btn btn-info" href="javascript:void(0);">
    信息
</a>
</td>
										<td><a class="btn btn-info btn-lg" href="javascript:void(0);">
    信息
</a>
</td>
										<td><a class="btn btn-info btn-sm" href="javascript:void(0);">
    信息
</a>
</td>
										<td><a class="btn btn-info btn-xs" href="javascript:void(0);">
    信息
</a>
</td>
										<td><a class="btn btn-info disabled" id="" href="javascript:void(0);">
    信息
</a>
</td>
										<td><a class="btn btn-info" href="javascript:void(0);">
    <i class="fa fa-exclamation-sign"></i>信息
</a>
</td>   
						                <td>
						                    <div class="btn-group">
    <a class="btn btn-info" href="javascript:void(0);">信息</a>
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
    <ul class="dropdown-menu">
						                        	<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						                    
    </ul>
</div><!-- /btn-group -->
						                </td> 
						            </tr>
						            <tr>
						                <td><a class="btn btn-success" href="javascript:void(0);">
    成功
</a>
</td>
						                <td><a class="btn btn-success btn-lg" href="javascript:void(0);">
    成功
</a>
</td>
						                <td><a class="btn btn-success btn-sm" href="javascript:void(0);">
    成功
</a>
</td>
						                <td><a class="btn btn-success btn-xs" href="javascript:void(0);">
    成功
</a>
</td>
						                <td><a class="btn btn-success disabled" id="" href="javascript:void(0);">
    成功
</a>
</td>
						                <td><a class="btn btn-success" href="javascript:void(0);">
    <i class="fa fa-check"></i>
成功
</a>
</td>
						                <td>
						                    <div class="btn-group">
    <a class="btn btn-success" href="javascript:void(0);">成功</a>
    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
    <ul class="dropdown-menu">
						                        	<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						                    
    </ul>
</div><!-- /btn-group -->
						                </td>
						            </tr>
						            <tr>
										<td><a class="btn btn-warning" href="javascript:void(0);">
    警告
</a>
</td>
										<td><a class="btn btn-warning btn-lg" href="javascript:void(0);">
    警告
</a>
</td>
										<td><a class="btn btn-warning btn-sm" href="javascript:void(0);">
    警告
</a>
</td>
										<td><a class="btn btn-warning btn-xs" href="javascript:void(0);">
    警告
</a>
</td>
										<td><a class="btn btn-warning disabled" id="" href="javascript:void(0);">
    警告
</a>
</td>
										<td><a class="btn btn-warning" href="javascript:void(0);">
     <i class="fa fa-warning-sign"></i> 警告
</a>
</td>
										<td>
						                    <div class="btn-group">
    <a class="btn btn-warning" href="javascript:void(0);">警告</a>
    <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
    <ul class="dropdown-menu">
						                        	<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						                    
    </ul>
</div><!-- /btn-group -->
						                </td>
						            </tr>
						            <tr>
										<td><a class="btn btn-danger" href="javascript:void(0);">
    危险
</a>
</td>
										<td><a class="btn btn-danger btn-lg" href="javascript:void(0);">
    危险
</a>
</td>
										<td><a class="btn btn-danger btn-sm" href="javascript:void(0);">
    危险
</a>
</td>
										<td><a class="btn btn-danger btn-xs" href="javascript:void(0);">
    危险
</a>
</td> 
										<td><a class="btn btn-danger disabled" id="" href="javascript:void(0);">
    危险
</a>
</td>
										<td><a class="btn btn-danger" href="javascript:void(0);">
    <i class="fa fa-remove"></i> 危险
</a>
</td>   
										<td>
						                    <div class="btn-group">
    <a class="btn btn-danger" href="javascript:void(0);">危险</a>
    <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
    <ul class="dropdown-menu">
						                        	<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						                    
    </ul>
</div><!-- /btn-group -->
						                </td> 
						            </tr>
					            </tbody>
					        </table>
					    </div>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->
		
</article>
 <!-- end widgetGridCol -->
	
</div>
 <!-- end widgetGridRow -->

	<div class="row">
    		<article class="col-sm-12 col-md-12 col-lg-6">
    			<div class="jarviswidget " id="wid-id-0"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>基本按钮</h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    			            <p class="alert alert-info">
    以下是基本按钮，未使用任何图标和样式
</p>
			            <p>
					                按钮有6种预定义颜色集,分别是:默认,主要,成功,信息,警告,危险
			                <code>
			                    .btn .btn-*
			                </code>
			                <code>
			                    .btn-default, .btn-primary, .btn-success... etc
			                </code>
			            </p>
			            <a class="btn btn-default" href="javascript:void(0);">
    默认 
</a>
			            <a class="btn btn-primary" href="javascript:void(0);">
    主要 
</a>
			            <a class="btn btn-success" href="javascript:void(0);">
    成功 
</a>
			            <a class="btn btn-info" href="javascript:void(0);">
    信息 
</a>
			            <a class="btn btn-warning" href="javascript:void(0);">
    警告 
</a>
			            <a class="btn btn-danger" href="javascript:void(0);">
    危险 
</a>
			            <a class="btn btn-default disabled" id="" href="javascript:void(0);">
    默认 
</a>
			            <a class="btn btn-link" href="javascript:void(0);">
    连接 
</a>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->
			
			<div class="jarviswidget " id="wid-id-2"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>各种尺寸大小的按钮</h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    						<p>
							大按钮，请添加样式
			                <code>.btn .btn-lg</code>
						
</p>
			            <a class="btn btn-primary btn-lg" >
    主要大按钮
</a>
&nbsp;<a class="btn btn-default btn-lg" href="javascript:void(0);">
    默认大按钮
</a>
			            <hr class="simple">
				
						<p>
							默认大小按钮，请添加样式
			                <code>.btn .btn-default</code>
						
</p>
			             
						
						<a class="btn btn-primary" href="javascript:void(0);">
    主要按钮
</a>
&nbsp;<a class="btn btn-default" href="javascript:void(0);">
    默认按钮
</a>
			            <hr class="simple">
						<p>
							小按钮，请添加样式
			                <code>
			                    .btn .btn-sm
			                </code>
						
</p>
			            
						<a class="btn btn-primary btn-sm" href="javascript:void(0);">
    主要小按钮
</a>
&nbsp;<a class="btn btn-default btn-sm" href="javascript:void(0);">
    默认小按钮
</a>
			            <hr class="simple">
						<p>
							超小按钮，请添加样式
			                <code>
			                    .btn .btn-xs
			                </code>
						
</p>
						<a class="btn btn-primary btn-xs" href="javascript:void(0);">
    主要超小按钮
</a>
&nbsp;<a class="btn btn-default btn-xs" href="javascript:void(0);">
    默认超小按钮
</a>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->
			
			<div class="jarviswidget " id="wid-id-4"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>圆形按钮</h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    			            <p>
			                超大圆形按钮，请添加样式
			                <code>
			                    .btn-circle .btn-xl
			                </code>
			            </p>
			            <ul class="demo-btns">
			                <li>
			                    <a class="btn btn-primary btn-circle btn-xl" id="" href="javascript:void(0);">
    			                        <i class="glyphicon glyphicon-list"></i>
			                    
</a>
			                </li>
			                <li>
			                    <a class="btn btn-default btn-circle btn-xl" id="" href="javascript:void(0);">
    			                        <i class="glyphicon glyphicon-ok"></i>
			                    
</a>
			                </li>
			            </ul>
			            <p>
			                大圆形按钮，请添加样式
			                <code>
			                    .btn-circle .btn-lg
			                </code>
			            </p>
			            <ul class="demo-btns"> 
							<a class="btn btn-primary btn-circle btn-lg" id="" href="javascript:void(0);">
    <i class="glyphicon glyphicon-list"></i> 
</a>
							<a class="btn btn-default btn-circle btn-lg" id="" href="javascript:void(0);">
    <i class="glyphicon glyphicon-ok"></i> 
</a>
			            </ul>
			            <p>
			                默认大小圆形按钮，请添加样式
			                <code>
			                    .btn-circle
			                </code>
			            </p>
			            <ul class="demo-btns">
							<a class="btn btn-primary btn-circle" id="" href="javascript:void(0);">
    <i class="glyphicon glyphicon-list"></i> 
</a>
							<a class="btn btn-default btn-circle" id="" href="javascript:void(0);">
    <i class="glyphicon glyphicon-ok"></i> 
</a>
			            </ul>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->
			
			<div class="jarviswidget " id="wid-id-6"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>下拉按钮</h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    						<p>
							带有切换按钮的上拉和下拉按钮 
						    <code>
						        .btn-group
						    </code>
						</p>
						<div class="btn-group">
						    <button class="btn btn-primary">
						        下拉按钮
						    </button>
						    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						        <span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu $dropdownMenuClass" >
									<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						    
</ul>
						</div>
						<div class="btn-group dropup">
						    <button class="btn btn-default">
						        上拉按钮
						    </button>
						    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						        <span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu $dropdownMenuClass" >
									<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						    
</ul>
						</div>
						<hr class="simple">
						<p>
						   默认下拉按钮
						    <code>
						        .dropdown-toggle
						    </code>
						</p>
						<div class="btn-group">
						    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						        动作 <span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu $dropdownMenuClass" >
									<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						    
</ul>
						</div>
						<div class="btn-group">
						    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						        动作 <span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu $dropdownMenuClass" >
									<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						    
</ul>
						</div>
						<hr class="simple">
						<p>
						    小型下拉按钮
						    <code>
						        .btn-sm .dropdown-toggle
						    </code>
						</p>
						<div class="btn-group">
						    <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
						        动作 <span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu $dropdownMenuClass" >
									<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						    
</ul>
						</div>
						<div class="btn-group">
						    <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
						        动作 <span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu $dropdownMenuClass" >
									<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						    
</ul>
						</div>
						<hr class="simple">
						<p>
						    超小下拉按钮
						    <code>
						        .btn-xs .dropdown-toggle
						    </code>
						</p>
						<div class="btn-group">
						    <button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
						        动作 <span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu $dropdownMenuClass" >
									<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						    
</ul>
						</div>
						<div class="btn-group">
						    <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
						        动作 <span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu $dropdownMenuClass" >
									<li>
<a href="javascript:void(0);">
操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
另一个操作
</a>

</li>
	<li>
<a href="javascript:void(0);">
一些其它事情
</a>

</li>
	<li class="divider"></li>

	<li>
<a href="javascript:void(0);">
被分隔的连接
</a>

</li>
						    
</ul>
						</div>
						<hr class="simple">
						<h3>多级下拉菜单按钮<small><span class="label label-warning">New!</span></small></h3>
						<p>
							创建自定义的下拉菜单按钮很简单，只要使用以下样式 
						    <code>
						        .dropdown-menu .multi-level
						    </code>
						</p>
						<div class="dropdown">
						    <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="javascript:void(0);">多级菜单<span class="caret"></span> </a>
						    <ul class="dropdown-menu multi-level" role="menu">
								<li>
<a href="javascript:void(0);">
一些操作
</a>

</li>
								<li>
<a href="javascript:void(0);">
一些其他操作
</a>

</li>
						        <li class="divider"></li>

						        <li class="dropdown-submenu">
						            <a tabindex="-1" href="javascript:void(0);">鼠标停留这显示子菜单</a>
						            <ul class="dropdown-menu $dropdownMenuClass" >
										<li>
<a href="javascript:void(0);">
二级
</a>

</li>
						                <li class="dropdown-submenu">
											<a href="javascript:void(0);">
更多..
</a>
						                    <ul class="dropdown-menu $dropdownMenuClass" >
												<li>
<a href="javascript:void(0);">
三级
</a>

</li>
												<li>
<a href="javascript:void(0);">
三级
</a>

</li>
						                    
</ul>
						                </li>
										<li>
<a href="javascript:void(0);">
二级
</a>

</li>
										<li>
<a href="javascript:void(0);">
二级
</a>

</li>
						            
</ul>
						        </li>
						    </ul>
						</div>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->
			
			<div class="jarviswidget " id="wid-id-8"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>按钮组</h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    			        <p>
						将一系列按钮组成一个按钮组，使用以下样式 
			            <code>
			                .btn
			            </code>
			            in
			            <code>
			                .btn-group
			            </code>
			            .
			        </p>
			        <div class="row">
			            <div class="col-md-12">
			                <table class="table table-bordered">
			                    <thead>
				                    <tr>
				                        <th style="width:25%">水平分组</th>
				                        <th style="width:25%">带有图标</th>
				                        <th style="width:50%">多按钮分组</th>
				                    </tr>
			                    </thead>
			                    <tbody>
				                    <tr>
				                        <td>
				                            <div class="btn-group">
				                                <button class="btn btn-default " type="button">
	左侧
</button>
				                                <button class="btn btn-default " type="button">
	中间
</button>
				                                <button class="btn btn-default " type="button">
	右侧
</button>
				                            </div></td>
				                        <td>
				                            <div class="btn-group">
				                                <button class="btn btn-default " type="button">
	<i class="fa fa-align-left"></i>
</button>
				                                <button class="btn btn-default " type="button">
	<i class="fa fa-align-center"></i>
</button>
				                                <button class="btn btn-default " type="button">
	<i class="fa fa-align-right"></i>
</button>
				                                <button class="btn btn-default " type="button">
	<i class="fa fa-align-justify"></i>
</button>
				                            </div>
										</td>
				                        <td>
				                            <div class="btn-toolbar">
				                                <div class="btn-group">
													<button class="btn btn-default " type="button">
	1
</button>
													<button class="btn btn-default " type="button">
	2
</button>
													<button class="btn btn-default " type="button">
	3
</button>
													<button class="btn btn-default " type="button">
	4
</button>
				                                </div>
				                                <div class="btn-group">
													<button class="btn btn-default " type="button">
	5
</button>
													<button class="btn btn-default " type="button">
	6
</button>
													<button class="btn btn-default " type="button">
	7
</button>
													<button class="btn btn-default " type="button">
	8
</button>
				                                </div> 
				                            </div></td>
				                    	</tr>
				                    </tbody>
				                </table>
				            </div>
				        </div>
				        <hr class="simple">
				        <p>
							将一组按钮垂直排放为一组，而不是水平排放 
				            <code>
				                .btn-group-vertical
				            </code>
				            .
				        </p>
				        <div class="row">
				            <div class="col-md-12">
				                <table class="table table-bordered">
				                    <thead>
				                    <tr>
				                        <th style="width:25%">垂直分组</th>
				                        <th style="width:25%">带有下拉按钮</th>
				                        <th style="width:25%">带有图标</th>
				                        <th style="width:25%">多按钮分组</th>
				                    </tr>
				                    </thead>
				                    <tbody>
				                    <tr>
				                        <td>
				                            <div class="btn-group-vertical">
												<button class="btn btn-default " type="button">
	上面
</button>
												<button class="btn btn-default " type="button">
	中间
</button>
												<button class="btn btn-default " type="button">
	下面
</button>
				                            </div></td>
				                        <td>
				                            <div class="btn-group-vertical">
												<button type="button" class="btn btn-primary">
													按钮 1
												</button>
												<button type="button" class="btn btn-primary">
													按钮 2
												</button>
												<button type="button" class="btn btn-primary">
													按钮 3
												</button> 
				                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				                                    下拉框
				                                    <i class="fa fa-caret-down"></i>
				                                </button>
				                                <ul class="dropdown-menu $dropdownMenuClass" >
													<li> 
	<a href="javascript:void(0);">下拉链接1</a>
</li>
													<li> 
	<a href="javascript:void(0);">下拉链接2</a>
</li>
				                                
</ul>
				                            </div></td>
				                        <td>
				                            <div class="btn btn-group-vertical">
												<a class="btn btn-default" href="javascript:void(0);"><i class="fa fa-align-left"></i></a>
												<a class="btn btn-default" href="javascript:void(0);"><i class="fa fa-align-center"></i></a>
												<a class="btn btn-default" href="javascript:void(0);"><i class="fa fa-align-right"></i></a>
												<a class="btn btn-default" href="javascript:void(0);"><i class="fa fa-align-justify"></i></a>
											</div>
										</td>
				                        <td>
				                            <div class="btn-toolbar">
				                                <div class="btn-group-vertical">
				                                    <button type="button" class="btn btn-primary">
				                                        按钮 1
				                                    </button>
				                                    <button type="button" class="btn btn-primary">
				                                        按钮 2
				                                    </button>
				                                    <button type="button" class="btn btn-primary">
				                                        按钮 3
				                                    </button>
				                                    <button type="button" class="btn btn-primary">
				                                        按钮 4
				                                    </button>
				                                </div>
				                            </div></td>
					                    </tr>
				                    </tbody>
				                </table>
				            </div>
				        </div>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->
		
</article>
 <!-- end widgetGridCol -->

		<article class="col-sm-12 col-md-12 col-lg-6">
    			<div class="jarviswidget " id="wid-id-1"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>各种颜色的按钮</h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    			            <p class="alert alert-info">
    		                	可以给按钮增加Css格式，各种存在的样式都可以加到按钮上来形成独特风格的按钮
				            <strong>示例:</strong>
				            <code>
				                .btn .bg-color-blueLight .txt-color-white
				            </code>
			            
</p>
			            <ul class="demo-btns"> 
							<li>
<a id="" class="btn bg-color-blueLight txt-color-white" href="javascript:void(0);">
     .bg-color-blueLight 
</a>

</li>
			                <li>
<a id="" class="btn bg-color-blue txt-color-white" href="javascript:void(0);">
     .bg-color-blue 
</a>

</li>
			                <li>
<a id="" class="btn btn bg-color-teal txt-color-white" href="javascript:void(0);">
     .bg-color-blueLight 
</a>

</li>
							<li>
<a id="" class="btn bg-color-blueLight txt-color-white" href="javascript:void(0);">
     .bg-color-teal 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-blueDark txt-color-white" href="javascript:void(0);">
     .bg-color-blueDark 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-green txt-color-white" href="javascript:void(0);">
     .bg-color-green 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-greenDark txt-color-white" href="javascript:void(0);">
     .bg-color-greenDark 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-greenLight txt-color-white" href="javascript:void(0);">
     .bg-color-greenLight 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-purple txt-color-white" href="javascript:void(0);">
     .bg-color-purple 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-magenta txt-color-white" href="javascript:void(0);">
     .bg-color-magenta 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-pinkDark txt-color-white" href="javascript:void(0);">
     .bg-color-pinkDark 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-yellow txt-color-white" href="javascript:void(0);">
     .bg-color-yellow 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-orange txt-color-white" href="javascript:void(0);">
     .bg-color-orange 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-red txt-color-white" href="javascript:void(0);">
     .bg-color-red 
</a>

</li>
							<li>
<a id="" class="btn btn bg-color-redLight txt-color-white" href="javascript:void(0);">
     .bg-color-redLight 
</a>

</li>
							<li>
<a id="" class="btn btn btn-default txt-color-dark" href="javascript:void(0);">
     .btn-default 
</a>

</li>
			            </ul>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->
			
			<div class="jarviswidget " id="wid-id-3"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>各种颜色的按钮</h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    			            <p class="alert alert-info">
    			               	 也可以自行设置文字颜色
			                <strong>示例:</strong>
			                <code>
			                    .txt-color-red
			                </code>
			            
</p>
			            <ul class="demo-btns">
							<li>
<a class="btn btn-default txt-color-blueLight" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-blue" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-teal" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-blueDark" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-green" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-greenDark" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-greenLight" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-purple" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-magenta" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-pink" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-pinkDark" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-yellow" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-orange" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-default txt-color-red" id="" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
			            </ul>
			            <hr class="simple">
			            <p>
			                各种背景颜色的按钮
			                <code>
			                    .btn .bg-color-blueLight .txt-color-magenta
			                </code>
			            </p>
						<ul class="demo-btns">
							<li>
								<a href="javascript:void(0);" class="btn bg-color-blueLight txt-color-magenta"><i class="fa fa-gear fa-lg"></i></a>
							
</li>
							<li>
								<a href="javascript:void(0);" class="btn bg-color-blueDark txt-color-teal"><i class="fa fa-gear fa-3x"></i></a>
							
</li>
							<li>
								<a href="javascript:void(0);" class="btn bg-color-red txt-color-white"><i class="fa fa-gear fa-4x fa-spin"></i></a>
							
</li>
						</ul>
			           
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->

			<div class="jarviswidget " id="wid-id-5"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>带有各种图表的按钮</h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    			            <p>
							默认图标按钮带有一行文字，并在文字左侧，右侧或两侧有一个图标
			            </p>
			            <ul class="demo-btns">
							<li>
<a class="btn btn-primary" href="javascript:void(0);">
    <i class="fa fa-gear"></i> 左图标 
</a>

</li>
							<li>
<a class="btn btn-success" href="javascript:void(0);">
    <i class="fa fa-gear"></i> 双边图标 <i class="fa fa-gear"></i> 
</a>

</li>
							<li>
<a class="btn btn-danger" href="javascript:void(0);">
    右图标 <i class="fa fa-gear"></i> 
</a>

</li>
			            </ul>
			            <ul class="demo-btns">
							<li>
<a class="btn btn-default" href="javascript:void(0);">
    <i class="fa fa-gear"></i> 左图标 
</a>

</li>
							<li>
<a class="btn btn-default" href="javascript:void(0);">
    <i class="fa fa-gear"></i> 双边图标 <i class="fa fa-gear"></i> 
</a>

</li>
							<li>
<a class="btn btn-default" href="javascript:void(0);">
    右图标 <i class="fa fa-gear"></i> 
</a>

</li>
			            </ul>
			            <hr class="simple">
			            <ul class="demo-btns">
			                <li> 
			                    <div class="btn-group">
			                        <button class="btn bg-color-blueDark txt-color-white">
			                            <i class="fa fa-gear"></i>左图标下拉按钮
			                        </button>
			                        <button class="btn btn-primary dropdown-toggle">
			                            <span class="caret"></span>
			                        </button>
			                    </div>
			
			                </li>
			                <li>
			                    <div class="btn-group">
			                        <button class="btn bg-color-blueDark txt-color-white">
			                            <i class="fa fa-gear"></i> 双边图标下拉按钮 <i class="fa fa-gear"></i>
			                        </button>
			                        <button class="btn btn-success dropdown-toggle">
			                            <span class="caret"></span>
			                        </button>
			                    </div>
			
			                </li>
			                <li>
			                    <div class="btn-group">
			                        <button class="btn bg-color-blueDark txt-color-white">
			                            右图标下拉按钮<i class="fa fa-gear"></i>
			                        </button>
			                        <button class="btn btn-danger dropdown-toggle">
			                            <span class="caret"></span>
			                        </button>
			                    </div>
			                </li>
			            </ul>
			            <ul class="demo-btns">
			                <li>
			                    <div class="btn-group">
			                        <button class="btn btn-default">
			                            <i class="fa fa-gear"></i> 左图标下拉按钮
			                        </button>
			                        <button class="btn btn-default dropdown-toggle">
			                            <span class="caret"></span>
			                        </button>
			                    </div>
			
			                </li>
			                <li>
			                    <div class="btn-group">
			                        <button class="btn btn-default">
			                            <i class="fa fa-gear"></i> 双边图标下拉按钮 <i class="fa fa-gear"></i>
			                        </button>
			                        <button class="btn btn-default dropdown-toggle">
			                            <span class="caret"></span>
			                        </button>
			                    </div>
			                </li>
			                <li>
			                    <div class="btn-group">
			                        <button class="btn btn-default">
			                            右图标下拉按钮<i class="fa fa-gear"></i>
			                        </button>
			                        <button class="btn btn-default dropdown-toggle">
			                            <span class="caret"></span>
			                        </button>
			                    </div>
			                </li>
			            </ul>
			            <hr class="simple">
			            <ul class="demo-btns">
							<li>
<a class="btn btn-primary btn-xs" href="javascript:void(0);">
    <i class="fa fa-gear"></i> 
</a>

</li>
							<li>
<a class="btn btn-default btn-sm" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-primary" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
							<li>
<a class="btn btn-primary btn-lg" >
    <i class="fa fa-gear fa-lg"></i> 
</a>

</li>
			            </ul>
			            <ul class="demo-btns">
							<li>
<a class="btn btn-primary btn-xs" href="javascript:void(0);">
    <i class="fa fa-gear"></i> <i class="fa fa-caret-down"></i> 
</a>

</li>
							<li>
<a class="btn btn-default btn-sm" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> <i class="fa fa-caret-down"></i> 
</a>

</li>
							<li>
<a class="btn btn-primary" href="javascript:void(0);">
    <i class="fa fa-gear fa-lg"></i> <i class="fa fa-caret-down"></i> 
</a>

</li>
							<li>
<a class="btn btn-primary btn-lg" >
    <i class="fa fa-gear fa-lg"></i> <i class="fa fa-caret-down"></i> 
</a>

</li>
			            </ul>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->

			<div class="jarviswidget " id="wid-id-7"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>带有标签项的按钮</h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    			            <ul class="demo-btns">
							<li>
<a class="btn btn-success btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>成功 
</a>

</li>
							<li>
<a class="btn btn-danger btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>取消 
</a>

</li>
							<li>
<a class="btn btn-warning btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-bookmark"></i></span>书签 
</a>

</li>
							<li>
<a class="btn btn-primary btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-camera"></i></span>相机
</a>

</li>
							<li>
<a class="btn btn-default btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-chevron-left"></i></span>左 
</a>

</li>
							<li>
<a class="btn btn-default btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 右 
</a>

</li>
							<li>
<a class="btn btn-success btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>赞成 
</a>

</li>
							<li>
<a class="btn btn-danger btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-thumbs-down"></i></span>反对
</a>

</li>
							<li>
<a class="btn btn-info btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-refresh"></i></span>刷新 
</a>

</li>
							<li>
<a class="btn btn-danger btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>垃圾箱 
</a>

</li>
							<li>
<a class="btn btn-success btn-labeled" id="" href="javascript:void(0);">
     <span class="btn-label"><i class="glyphicon glyphicon-info-sign"></i></span>咨询 
</a>

</li>
			            </ul>
<pre>
&lt;button type="button" class="btn btn-labeled btn-success">
 &lt;span class="btn-label">
  &lt;i class="glyphicon glyphicon-ok">&lt;/i>
 &lt;/>Success
&lt;/button>
</pre>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->

			<div class="jarviswidget " id="wid-id-9"
    				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-custombutton="false"
				data-widget-sortable="false"
 ) 
				>
<header>
    <span class="widget-icon"><i class="fa fa-hand-o-up"></i></span>    <h2>块状按钮</h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body ">
    			            <p>
			                块状按钮
			                <code>
			                    .btn .btn-block
			                </code>
			            </p>
			            <div class="well"> 
			                <button type="button" class="btn btn-primary btn-lg btn-block">
			                    默认块状按钮
			                </button>
			                <button type="button" class="btn btn-default btn-sm btn-block">
			                    小型块状按钮
			                </button>
			                <button type="button" class="btn btn-default btn-xs btn-block">
			                    超小块状按钮
			                </button>
			            </div>
			            <hr class="simple">
			            <p>
			                块状按钮组
			                <code>
			                    .btn-group .btn-group-justified
			                </code>
			            </p>
			            <div class="well">
			                <div class="btn-group btn-group-justified">
								<a class="btn btn-default" href="javascript:void(0);">
    左
</a>
								<a class="btn btn-default" href="javascript:void(0);">
    中间
</a>
								<a class="btn btn-default" href="javascript:void(0);">
    右边
</a>
			                </div>
			            </div>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->
		
</article>
 <!-- end widgetGridCol -->
	
</div>
 <!-- end widgetGridRow -->
	<div class="row"></div>

</section>
 <!-- end widgetGrid -->

<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */

	// PAGE RELATED SCRIPTS
	
	// pagefunction
	
	var pagefunction = function() {
		// clears memory even if nothing is in the function
	};
	
	// end pagefunction
	
	// run pagefunction on load
	pagefunction();

</script>