<h2 class="email-open-header">
	    回复: 考勤问题 <span class="label txt-color-white">收件箱</span>
	<a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="x" class="txt-color-darken pull-right"><i class="fa fa-print"></i></a>

</h2>

<div class="inbox-info-bar ">
    <div class="row ">
            <div class="col-sm-9">
	            <img src="img/avatars/5.png" alt="me" class="away">
            <strong>悠悠然然</strong>
            <span class="hidden-mobile">&lt;yoyuyouranran@163.com&gt;发送给 <strong>我</strong> 于 <i>2013年3月12日 12:10</i></span>
        
</div>
		
        <div class="col-sm-3 text-right"> 
	            <div class="btn-group text-left">
					<button class="btn btn-primary btn-sm replythis">
	 <i class="fa fa-reply"></i>
 回&nbsp;复 
</button>
                <button type="button" class="dropdown-toggle btn btn-primary btn-sm" data-toggle="dropdown">
						<i class="fa fa-angle-down"></i>
				
</button>
                <ul class="dropdown-menu pull-right">
						<li>
	<a href="javascript:void(0);"  class="replythis">
		<i  class="fa fa-reply"></i>
		回复
	</a>
</li>
					<li>
	<a href="javascript:void(0);"  class="replythis">
		<i  class="fa fa-mail-forward"></i>
		转发
	</a>
</li>
					<li>
	<a href="javascript:void(0);"  class="">
		<i  class="fa fa-print"></i>
		打印
	</a>
</li>
                    <li class="divider"></li>

					<li>
	<a href="javascript:void(0);"  class="">
		<i  class="fa fa-ban"></i>
		标记为垃圾邮件!
	</a>
</li>
					<li>
	<a href="javascript:void(0);"  class="">
		<i  class="fa fa-trash-o"></i>
		永久删除
	</a>
</li>
                
</ul>
            
</div>
        
</div>
    
</div>

</div>

<div class="inbox-message ">
    <p>您好！</p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本次上报考勤区间为9.15-10.14，将于10月17号准时上报人力部。
    </p> 
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以下为您截止至10月14号前的考勤异常信息！请尽快处理！
    </p>

    <br>
    <br>谢谢！<br>
    <strong>悠悠然然</strong>
    <br>
    <br>
    <small>
        技术研发部架构师
		<br>
        ***股份有限公司
		<br>
		杭州市滨江区某路某大厦
        <br>
        <i class="fa fa-phone"> (0570) 12345678</i> 
    </small>
    <br>
    <img src="img/logo-blacknwhite.png" height="20" width="auto" style="margin-top:7px; padding-right:9px; border-right:1px dotted #9B9B9B;" />

</div>

<div class="inbox-download ">
    2个附件 <a href="javascript:void(0);">下载所有附件</a>

    <ul class="inbox-download-list">
	        <li>
			<div class="well well-sm "">
    				<span>
					<img src="img/demo/sample.jpg">
				</span>
                <br>
                <strong>火箭发射.jpg</strong>
                <br>
                400 kb
                <br>
                <a href="javascript:void(0);">下载</a>  | <a href="javascript:void(0);">查看</a>
            
</div>
        </li>
        <li>
			<div class="well well-sm well-light"">
    				<span>
					<i class="fa fa-file"></i>
				</span>

                <br>
                <strong>日志.xsl</strong>
                <br>
                1.3 mb
                <br>
                <a href="javascript:void(0);">下载</a> | <a href="javascript:void(0);">分享</a>
            
</div>
        </li>
    
</ul>

</div>

<div class="email-infobox ">
    <div class="well well-sm well-light"">
        <h5>关联订单</h5>
    <ul class="list-unstyled">
        <li>
            <i class="fa fa-file fa-fw text-success"></i><a href="javascript:void(0);"> #4831 - 已付款</a>
        </li>
        <li>
            <i class="fa fa-file fa-fw text-danger"></i><a href="javascript:void(0);"><strong> #4835 - 未付款</strong></a>
        </li>
    </ul>
    
</div>

    <div class="well well-sm well-light"">
        <h5>即将召开的会议</h5>

    <p>
        <span class="label label-success"><i class="fa fa-check"></i> <strike>日程评审 @ 10 AM</strike> </span>
    </p>

    <p>
        <span class="label label-primary"><i class="fa fa-clock-o"></i> 客户会议 @ 2:30 PM</span>
    </p>

    <p>
        <span class="label label-warning"><i class="fa fa-clock-o"></i> 薪资评审 @ 4:00 PM</span>
    </p>
    
</div>

<ul class="list-inline">
    <li><img src="img/avatars/5.png" alt="me" width="30px"></li>
    <li><img src="img/avatars/3.png" alt="me" width="30px"></li>
    <li><img src="img/avatars/sunny.png" alt="me" width="30px"></li>
    <li><a href="javascript:void(0);">更多</a></li>
</ul>

</div>

<script type="text/javascript">
	
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */
	
	
	// PAGE RELATED SCRIPTS
	
	$(".table-wrap [rel=tooltip]").tooltip();

	$(".replythis").click(function(){
		loadURL("ajax/email-reply.html", $('#inbox-content > .table-wrap'));
	})
	
</script>