<!--[if IE 9]>
<style>
    .error-text {
        color: #333 !important;
    }
</style>
<![endif]-->

<div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row ">
                <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center error-box">
                    <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i>
 Error 500</h1>
                    <h2 class="font-xl"><strong>对不起, 出错啦!</strong></h2>
                    <br />
                    <p class="lead semi-bold">
                        <strong>发生了一个技术性错误，我们很抱歉！</strong><br><br>
                        <small>
                            我们正在努力纠正这一错误，请稍等片刻，然后请重新尝试一次。
							<br>
							在此期间，您可以浏览我们TinyFramework的其他版块。
                        </small>
                    </p>
                    <ul class="error-search text-left font-md">
                        <li><a href="javascript:void(0);"><small>去仪表盘 <i class="fa fa-arrow-right"></i>
</small></a></li>
                        <li><a href="javascript:void(0);"><small>联系TinyFramework的技术部门<i class="fa fa-mail-forward"></i>
</small></a></li>
                        <li><a href="javascript:void(0);"><small>记录错误!</small></a></li>
                        <li><a href="javascript:void(0);"><small>返回</small></a></li>
                    </ul>
                </div> 
            
</div>
		
</div>
	
</div>

</div>
<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */

	// PAGE RELATED SCRIPTS
	
	
	// pagefunction
	
	var pagefunction = function() {
		$("#search-error").focus();
	};
	
	// end pagefunction
	
	// run pagefunction on load
	
	pagefunction();
	
	</script>