	<div class="row ">
    		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark"> 
				<i class="fa fa-fw fa-file-o"></i>
 其他页面
			<span>
    > 论坛布局 
</span>
		
</h1>
</div>

			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    		<ul id="sparks" >
    			<li class="sparks-info">
    				 <h5> 个人收入 <span class="txt-color-blue">$47,171</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
    					1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
				
</div>
			
</li>
			<li class="sparks-info">
    				<h5> 站点流量 <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
    					110,150,300,130,400,240,220,310,220,300, 270, 210
				
</div>
			
</li>
			<li class="sparks-info">
    				<h5> 站点营收 <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
    					110,150,300,130,400,240,220,310,220,300, 270, 210
				
</div>
			
</li>
		
</ul>
	
</div>
	
</div>

<!-- row -->
<div class="row">

	<div class="col-sm-12">

		<div class="well">

			<table class="table table-striped table-forum">
				<thead>
					<tr>
						<th colspan="2">介绍</th>
						<th class="text-center hidden-xs hidden-sm" style="width: 100px;">主题</th>
						<th class="text-center hidden-xs hidden-sm" style="width: 100px;">回复</th>
						<th class="hidden-xs hidden-sm" style="width: 200px;">最后回复</th>
					</tr>
				</thead>
				<tbody>
					
					<!-- TR -->
					<tr>
						<td class="text-center" style="width: 40px;"><i class="fa fa-globe fa-2x text-muted"></i></td>
						<td>
							<h4><a href="#ajax/forum-topic.pagelet">
								您好，欢迎来到Tiny框架技术论坛!
							</a>
								<small>您可以在这里自行自我介绍</small>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">431</a>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">1342</a>
						</td>
						<td class="hidden-xs hidden-sm">
							由
							<a href="javascript:void(0);">悠悠然然</a>
							<br>
							<small><i>2014年1月1日</i></small>
						</td>
					</tr>
					<!-- end TR -->
					
					<!-- TR -->
					<tr>
						<td class="text-center" style="width: 40px;"><i class="fa fa-microphone fa-2x text-muted"></i></td>
						<td>
							<h4><a href="#ajax/forum-topic.pagelet">
								新闻及通告
							</a>
								<small>最新的新闻和报告</small>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">431</a>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">1342</a>
						</td>
						<td class="hidden-xs hidden-sm"> 
							由
							<a href="javascript:void(0);">悠悠然然</a>
							<br>
							<small><i>2014年1月1日</i></small>
						</td>
					</tr>
					<!-- end TR -->
					
					<!-- TR -->
					<tr>
						<td class="text-center" style="width: 40px;"><i class="fa fa-pencil fa-2x text-muted"></i></td>
						<td>
							<h4><a href="#ajax/forum-topic.pagelet">
                                论坛规则
							</a>
								<small>请在发表文章之前仔细阅读</small>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">431</a>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">1342</a>
						</td>
						<td class="hidden-xs hidden-sm">
							由
							<a href="javascript:void(0);">悠悠然然</a>
							<br>
							<small><i>2014年1月1日</i></small>
						</td>
					</tr>
					<!-- end TR -->
					
				</tbody>
			</table>

			<table class="table table-striped table-forum">
				<thead>
					<tr>
						<th colspan="2">项目</th>
						<th class="text-center hidden-xs hidden-sm" style="width: 100px;">主题</th>
						<th class="text-center hidden-xs hidden-sm" style="width: 100px;">回复</th>
						<th class="hidden-xs hidden-sm" style="width: 200px;">最后回复</th>
					</tr>
				</thead>
				<tbody>
					
					<!-- TR -->
					<tr>
						<td class="text-center" style="width: 40px;"><i class="fa fa-table fa-2x text-muted"></i></td>
						<td>
							<h4><a href="#ajax/forum-topic.pagelet">
								业务需求说明书
							</a>
								<small>这是业务需求说明书，欢迎阅读</small>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">431</a>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">1342</a>
						</td>
						<td class="hidden-xs hidden-sm">
							由
							<a href="javascript:void(0);">悠悠然然</a>
							<br>
							<small><i>2014年1月1日</i></small>
						</td>
					</tr>
					<!-- end TR -->
					
					<!-- TR -->
					<tr>
						<td class="text-center" style="width: 40px;"><i class="fa fa-bar-chart-o fa-2x text-muted"></i></td>
						<td>
							<h4><a href="#ajax/forum-topic.pagelet">
								项目讨论
							</a>
								<small>在这里发表所有关于项目的贴子</small>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">431</a>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">1342</a>
						</td>
						<td class="hidden-xs hidden-sm"> 
							由
							<a href="javascript:void(0);">悠悠然然</a>
							<br>
							<small><i>2014年1月1日</i></small>
						</td>
					</tr>
					<!-- end TR -->
					
					<!-- TR -->
					<tr>
						<td class="text-center" style="width: 40px;"><i class="fa fa-user fa-2x text-muted"></i></td>
						<td>
							<h4><a href="#ajax/forum-topic.pagelet">
								客户
							</a>
								<small>客户讨论专区</small>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">431</a>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">1342</a>
						</td>
						<td class="hidden-xs hidden-sm">
							由
							<a href="javascript:void(0);">悠悠然然</a>
							<br>
							<small><i>2014年1月1日</i></small>
						</td>
					</tr>
					<!-- end TR -->
					
					<!-- TR -->
					<tr>
						<td class="text-center" style="width: 40px;"><i class="fa fa-dollar fa-2x text-muted"></i></td>
						<td>
							<h4><a href="#ajax/forum-topic.pagelet">
								预算会议
							</a>
								<small>项目预算讨论区</small>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">431</a>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">1342</a>
						</td>
						<td class="hidden-xs hidden-sm">
							由
							<a href="javascript:void(0);">悠悠然然</a>
							<br>
							<small><i>2014年1月1日</i></small>
						</td>
					</tr>
					<!-- end TR -->
					
				</tbody>
			</table>


			<table class="table table-striped table-forum">
				<thead>
					<tr>
						<th colspan="2">技术支持</th>
						<th class="text-center hidden-xs hidden-sm" style="width: 100px;">主题</th>
						<th class="text-center hidden-xs hidden-sm" style="width: 100px;">回复</th>
						<th class="hidden-xs hidden-sm" style="width: 200px;">最后回复</th>
					</tr>
				</thead>
				<tbody>
					
					<!-- TR -->
					<tr>
						<td class="text-center" style="width: 40px;"><i class="fa fa-book fa-2x text-muted"></i></td>
						<td>
							<h4><a href="#ajax/forum-topic.pagelet">
								如何...
							</a>
								<small>这里有一些关于Tiny的基础知识</small>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">431</a>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">1342</a>
						</td>
						<td class="hidden-xs hidden-sm"
							由
							<a href="javascript:void(0);">悠悠然然</a>
							<br>
							<small><i>2014年1月1日</i></small>
						</td>
					</tr>
					<!-- end TR -->
					
					<!-- TR -->
					<tr>
						<td class="text-center" style="width: 40px;"><i class="fa fa-question-circle fa-2x text-muted"></i></td>
						<td>
							<h4><a href="#ajax/forum-topic.pagelet">
								提问及FAQ
							</a>
								<small>这里可以提问或查看常见问题解答</small>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">431</a>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">1342</a>
						</td>
						<td class="hidden-xs hidden-sm">
							由
							<a href="javascript:void(0);">悠悠然然</a>
							<br>
							<small><i>2014年1月1日</i></small>
						</td>
					</tr>
					<!-- end TR -->
					
					<!-- TR -->
					<tr>
						<td class="text-center" style="width: 40px;"><i class="fa fa-user-md fa-2x text-muted"></i></td>
						<td>
							<h4><a href="#ajax/forum-topic.pagelet">
								用户指南
							</a>
								<small>这里是关于Tiny框架的用户指南</small>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">431</a>
						</td>
						<td class="text-center hidden-xs hidden-sm">
							<a href="javascript:void(0);">1342</a>
						</td>
						<td class="hidden-xs hidden-sm">
							由
							<a href="javascript:void(0);">悠悠然然</a>
							<br>
							<small><i>2014年1月1日</i></small>
						</td>
					</tr>
					<!-- end TR -->
					
				</tbody>
			</table>


		</div>
	</div>

</div>

<!-- end row -->
 <script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();

	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 */

	// pagefunction
	
	var pagefunction = function() {
		
	};
	
	// end pagefunction
	
	// run pagefunction on load
	pagefunction();

</script>