<div class="row hidden-mobile">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-picture-o"></i>
            图库 <span>>
			响应式图库 </span></h1>
    </div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
            <div class="page-title">
            <a href="javascript:void(0);" class="btn btn-default">上传</a>
            <a href="javascript:void(0);" class="btn btn-default">载入图库</a>
        </div>
    
</div>

</div>

<div class="row ">
        <!-- SuperBox -->
    <div class="superbox col-sm-12">
        <div class="superbox-list">
            <img src="img/superbox/superbox-thumb-1.jpg" data-img="img/superbox/superbox-full-1.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="米勒的电影" class="superbox-img">
        </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-2.jpg" data-img="img/superbox/superbox-full-2.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="悬拉桥" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-3.jpg" data-img="img/superbox/superbox-full-3.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="友谊线" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-4.jpg" data-img="img/superbox/superbox-full-4.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="我的新车" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-5.jpg" data-img="img/superbox/superbox-full-5.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="学习时光" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-6.jpg" data-img="img/superbox/superbox-full-6.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="旧金山金门大桥"  class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-7.jpg" data-img="img/superbox/superbox-full-7.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="新Styla"  class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-8.jpg" data-img="img/superbox/superbox-full-8.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="Cristpta"  class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-9.jpg" data-img="img/superbox/superbox-full-9.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="Cristine Dine"  class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-10.jpg" data-img="img/superbox/superbox-full-10.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="Mosaic Clock"  class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-11.jpg" data-img="img/superbox/superbox-full-11.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="优雅"  class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-12.jpg" data-img="img/superbox/superbox-full-12.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="唐人街"  class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-13.jpg" data-img="img/superbox/superbox-full-13.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="跳伞"  class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-14.jpg" data-img="img/superbox/superbox-full-14.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="乡村音乐"  class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-15.jpg" data-img="img/superbox/superbox-full-15.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="你迟到了!" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-16.jpg" data-img="img/superbox/superbox-full-16.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="Royal Bengle Tiger" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-17.jpg" data-img="img/superbox/superbox-full-17.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="市雪松" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-18.jpg" data-img="img/superbox/superbox-full-18.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="Hop Jop Mop" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-19.jpg" data-img="img/superbox/superbox-full-19.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="派对女孩" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-20.jpg" data-img="img/superbox/superbox-full-20.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="Dragon Fly" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-21.jpg" data-img="img/superbox/superbox-full-21.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="Kinds Road" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-22.jpg" data-img="img/superbox/superbox-full-22.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="东京" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-23.jpg" data-img="img/superbox/superbox-full-23.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="罗马" class="superbox-img">
    </div><!--
		--><div class="superbox-list">
        <img src="img/superbox/superbox-thumb-24.jpg" data-img="img/superbox/superbox-full-24.jpg" alt="我的第一个高端PSD主题的photoshop图层遮罩" title="培训" class="superbox-img">
    </div>
        <div class="superbox-float"></div>
    </div>
    <!-- /SuperBox -->

    <div class="superbox-show" style="height:300px; display: none"></div>

</div>


<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */

	// PAGE RELATED SCRIPTS

	// pagefunction
	
	var pagefunction = function() {
		
		$('.superbox').SuperBox();
		
	};
	
	// end pagefunction
	
	// run pagefunction on load

	// load bootstrap-progress bar script
	loadScript("js/plugin/superbox/superbox.min.js", pagefunction);


</script>