	
<section id="widget-grid" class="">
    	<div class="row">
    		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    			<div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0"
    				data-widget-sortable="false"
 ) 
				data-widget-deletebutton="false"
				data-widget-editbutton="false"
				data-widget-colorbutton="false"
				>
<header>
    <span class="widget-icon"><i class="fa fa-barcode"></i></span>    <h2>Item #44761 </h2>
    
</header>
				<div>
    					<div class="jarviswidget-editbox">
    
</div>
					<div class="widget-body no-padding" id="">
    				        <div class="widget-body-toolbar"> 
							<div class="row"> 
								<div class="col-sm-4"> 
									<div class="input-group">
										<input class="form-control" type="text" placeholder="输入发货单号或者日期...">
										<div class="input-group-btn">
											<button class="btn btn-default" type="button">
												<i class="fa fa-search"></i> 查询
											</button>
										</div>
									</div>
								</div>

								<div class="col-sm-8 text-align-right"> 
									<div class="btn-group">
										<a href="javascript:void(0)" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> 编辑 </a>
									</div>

									<div class="btn-group">
										<a href="javascript:void(0)" class="btn btn-sm btn-success"> <i class="fa fa-plus"></i> 创建新的发货单 </a>
									</div>

								</div>

							</div>

						</div>
				
				        <div class="padding-10">
				            <br>
				            <div class="pull-left">
				                <img src="img/logo-blacknwhite.png" width="150" height="32" alt="invoice icon">
				
				                <address>
				                    <br>
				                    <strong>TinyFramework, Inc.</strong>
				                    <br>
				                    杭州市滨江区某路某号某大厦
				                    <br>
				                    <abbr title="Phone">电话:</abbr> 0571-12345678
				                </address>
				            </div>
				            <div class="pull-right">
				                <h1 class="font-400">发票</h1>
				            </div>
				            <div class="clearfix"></div>
				            <br>
				            <br>
							
				            <div class="row ">
    				                <div class="col-sm-9 ">
    				                    <h4 class="semi-bold">TinyFramework, Inc.</h4>
				                    <address>
				                        <strong>悠悠然然</strong>
				                        <br>
				                        杭州市滨江区某路某号某大厦
				                        <br>
				                        <abbr title="Phone">电话:</abbr> 0571-12345678
				                    </address>
				                
</div>
								
				                <div class="col-sm-3 ">
    				                    <div>
				                        <div>
				                            <strong>发票号码 :</strong>
				                            <span class="pull-right"> #AA-454-4113-00 </span>
				                        </div>
				
				                    </div>
				                    <div>
				                        <div class="font-md">
				                            <strong>发票日期 :</strong>
				                            <span class="pull-right"> <i class="fa fa-calendar"></i> 15/02/13 </span>
				                        </div>
				
				                    </div>
				                    <br>
				                    <div class="well well-sm bg-color-darken txt-color-white no-border"">
    				                        <div class="fa-lg">
				                            总金额 :
				                            <span class="pull-right">￥4,972</span>
				                        </div> 
				                    
</div>
				                    <br>
				                    <br>
				                
</div>
				            
</div>
							
				            <table class="table table-hover">
				                <thead>
									<tr>
										<th class="text-center">数量</th>
										<th>条目</th>
										<th>描述</th>
										<th>价格</th>
										<th>小计</th>
									</tr>
				                </thead>
				                <tbody>
									<tr>
										<td class="text-center"><strong>1</strong></td>
										<td><a href="javascript:void(0);">印刷和网站LOGO设计</a></td>
										<td>印刷和网站LOGO设计费用</td>
										<td>￥1,300.00</td>
					
										<td>￥1,300.00</td>
									</tr>
									<tr>
										<td class="text-center"><strong>1</strong></td>
										<td><a href="javascript:void(0);">条目 3</a></td>
										<td>条目 3 费用</td>
										<td>￥1,400.00</td>
										<td>￥1,400.00</td>
									</tr>
									<tr>
										<td class="text-center"><strong>1</strong></td>
										<td><a href="javascript:void(0);">后台支持和升级</a></td>
										<td>后台支持和升级费用</td>
										<td>￥1,700.00</td>
										<td>￥1,700.00</td>
									</tr>
									<tr>
										<td colspan="4">总计</td>
										<td><strong>￥4,400.00</strong></td>
									</tr>
									<tr>
										<td colspan="4">消费税</td>
										<td><strong>13%</strong></td>
									</tr>
				                </tbody>
				            </table>
				
				            <div class="invoice-footer"> 
				                <div class="row ">
    				                    <div class="col-sm-7 ">
    				                        <div class="payment-methods">
				                            <h5>支付方式</h5>
				                            <img src="img/invoice/paypal.png" width="64" height="64" alt="paypal">
				                            <img src="img/invoice/americanexpress.png" width="64" height="64" alt="american express">
				                            <img src="img/invoice/mastercard.png" width="64" height="64" alt="mastercard">
				                            <img src="img/invoice/visa.png" width="64" height="64" alt="visa">
				                        </div>
				                    
</div>
									
				                    <div class="col-sm-5 ">
    				                        <div class="invoice-sum-total pull-right">
				                            <h3><strong>总计: <span class="text-success">￥4,972</span></strong></h3>
				                        </div>
				                    
</div>
				                
</div>
				
				                <div class="row ">
    				                    <div class="col-sm-12 ">
    				                        <p class="note">**为了避免任何额外的罚款费用，请在到期日30天内付款，否则，将会收取每月2%的预期费用。 
				                    
</div>
				                
</div>
				            </div>
				        </div>
					
</div>
 <!-- end widgetContent -->
				
</div>
 <!-- end jarvisWidgetBody -->
			
</div>
<!-- end widget -->
 <!-- end jarvisWidget -->
		
</article>
 <!-- end widgetGridCol -->
	
</div>
 <!-- end widgetGridRow -->

</section>
 <!-- end widgetGrid -->

<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();

	// PAGE RELATED SCRIPTS

	// pagefunction
	
	var pagefunction = function() {
		
	};
	
	// end pagefunction
	
	// run pagefunction on load

	pagefunction();

</script>