
<div class="row ">
    	<div class="col-sm-12 ">
    		<div class="well well-light "">
    		
			<h1>专业的, <small>4 张一排</small></h1>
			<div class="row ">
    				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="panel panel-success pricing-big">
							<div class="panel-heading panel-success pricing-big">
								<h3 class="panel-title">简易版</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1><strong>免费</strong></h1>
							
</div>
							<div class="price-features">
									<ul class="list-unstyled text-left">
									<li><i class="fa fa-check text-success"></i>
 两年内<strong>可访问所有目录</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>无限容量</strong> 存储</li>
									<li><i class="fa fa-check text-success"></i>
 有限 <strong> 下载流量</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>货到付款</strong></li>
									<li><i class="fa fa-check text-success"></i>
 实时 <strong> 更新</strong></li>
									<li><i class="fa fa-times text-danger"></i>
  <strong>无限制</strong>访问所有文件</li>
									<li><i class="fa fa-times text-danger"></i>
  <strong>允许</strong> 屏蔽广告</li>
								</ul>
							
</div>
						
</div>
						<div class="panel-footer text-align-center">
								<a href="javascript:void(0);" class="btn btn-primary btn-block" role="button"><span> 马上!</span>下载 </a>
							<div>
								或者 <a href="javascript:void(0);">注册</a>
							</div>
						
</div>
					
</div>
 <!-- end pricePanel -->
				
</div>
 <!-- end miniGridCol12 -->  

				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="panel panel-teal pricing-big">
							<div class="panel-heading panel-teal pricing-big">
								<h3 class="panel-title">个人项目</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥99<span class="subscript">/月</span></h1>
							
</div>
							<div class="price-features">
									<ul class="list-unstyled text-left">
									<li><i class="fa fa-check text-success"></i>
 两年内<strong>可访问所有目录</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>无限容量</strong> 存储</li>
									<li><i class="fa fa-check text-success"></i>
 海量 <strong> 资源下载</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>货到付款</strong></li>
									<li><i class="fa fa-check text-success"></i>
 实时 <strong> 更新</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>无限制</strong>访问所有文件</li>
									<li><i class="fa fa-check text-success"></i>
 <strong>允许</strong> 屏蔽广告</li>
								</ul>
							
</div>
						
</div>
						<div class="panel-footer text-align-center">
								<a href="javascript:void(0);" class="btn btn-primary btn-block" role="button"><span>通过×××</span>支付 </a>
							<div>
								<a href="javascript:void(0);"><i>我们接受所有主要的信用卡</i></a>
							</div>
						
</div>
					
</div>
 <!-- end pricePanel -->
				
</div>
 <!-- end miniGridCol12 -->  
 
				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="panel panel-primary pricing-big">
							<img src="img/ribbon.png" class="ribbon">
						<div class="panel-heading panel-primary pricing-big">
								<h3 class="panel-title">开发包</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥350<span class="subscript">/月</span></h1>
							
</div>
							<div class="price-features">
									<ul class="list-unstyled text-left">
									<li><i class="fa fa-check text-success"></i>
 两年内<strong>可访问所有目录</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>无限容量</strong> 存储</li>
									<li><i class="fa fa-check text-success"></i>
 海量 <strong> 资源下载</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>货到付款</strong></li>
									<li><i class="fa fa-check text-success"></i>
 实时 <strong> 更新</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>无限制</strong>访问所有文件</li>
									<li><i class="fa fa-check text-success"></i>
 <strong>允许</strong> 屏蔽广告</li>
								</ul>
							
</div>
						
</div>
						<div class="panel-footer text-align-center">
								<a href="javascript:void(0);" class="btn btn-primary btn-block" role="button"><span>通过×××</span>支付 </a>
							<div>
								<a href="javascript:void(0);"><i>我们接受所有主要的信用卡</i></a>
							</div>
						
</div>
					
</div>
 <!-- end pricePanel -->
				
</div>
 <!-- end miniGridCol12 -->  
 
				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="panel panel-darken pricing-big">
							<div class="panel-heading panel-darken pricing-big">
								<h3 class="panel-title">保险包</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥999<span class="subscript">/月</span></h1>
							
</div>
							<div class="price-features">
									<ul class="list-unstyled text-left">
									<li><i class="fa fa-check text-success"></i>
 终身可以 <strong>访问所有目录</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>无限容量</strong> 存储</li>
									<li><i class="fa fa-check text-success"></i>
 海量 <strong> 资源下载</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>货到付款</strong></li>
									<li><i class="fa fa-check text-success"></i>
 实时 <strong> 更新</strong></li>
									<li><i class="fa fa-check text-success"></i>
 <strong>无限制</strong>访问所有文件</li>
									<li><i class="fa fa-check text-success"></i>
 <strong>允许</strong> 屏蔽广告</li>
								</ul>
							
</div>
						
</div>
						<div class="panel-footer text-align-center">
								<a href="javascript:void(0);" class="btn btn-primary btn-block" role="button"><span>通过×××</span>支付 </a>
							<div>
								<a href="javascript:void(0);"><i>我们接受所有主要的信用卡</i></a>
							</div>
						
</div>
					
</div>
 <!-- end pricePanel -->
				
</div>
 <!-- end miniGridCol12 -->  
			
</div>
 <!-- end gridRow -->  

			<hr> 
			<h1>简单的, <small>4 张一排</small></h1>
			<div class="row ">
    				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="panel panel-darken">
							<div class="panel-heading panel-darken">
								<h3 class="panel-title">铜卡</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥10<span class="subscript">/月</span></h1>
								<small>1个月免费试用</small>
							
</div>
							<table class="table">
								<tr>
									<td>
										1 个账号
									</td>
								</tr>
								<tr class="active">
									<td>
										1 个项目
									</td>
								</tr>
								<tr>
									<td>
										100K API 访问
									</td>
								</tr>
								<tr class="active">
									<td>
										100MB 容量存储
									</td>
								</tr>
								<tr>
									<td>
										个性化云服务
									</td>
								</tr>
								<tr class="active">
									<td>
										每周报告
									</td>
								</tr>
							</table>
						
</div>
						<div class="panel-footer text-align-center">
								<a href="javascript:void(0);" class="btn btn-success" role="button">注册</a>
							1个月免费试用
						
</div>
					
</div>
 <!-- end pricePanel -->
				
</div>
 <!-- end miniGridCol12 -->  
 
				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="panel panel-primary">
							<img src="img/ribbon.png" class="ribbon">
						<div class="panel-heading panel-primary">
								<h3 class="panel-title">银卡</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥20<span class="subscript">/月</span></h1>
								<small>1个月免费试用</small>
							
</div>
							<table class="table">
								<tr>
									<td>
										2 个账号
									</td>
								</tr>
								<tr class="active">
									<td>
										5 个项目
									</td>
								</tr>
								<tr>
									<td>
										100K API 访问
									</td>
								</tr>
								<tr class="active">
									<td>
										200MB 容量存储
									</td>
								</tr>
								<tr>
									<td>
										个性化云服务
									</td>
								</tr>
								<tr class="active">
									<td>
										每周报告
									</td>
								</tr>
							</table>
						
</div>
						<div class="panel-footer text-align-center">
								<a href="javascript:void(0);" class="btn btn-success" role="button">注册</a>
							1个月免费试用
						
</div>
					
</div>
 <!-- end pricePanel -->
				
</div>
 <!-- end miniGridCol12 -->  

				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="panel panel-greenLight">
							<div class="panel-heading ">
								<h3 class="panel-title">金卡</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥35<span class="subscript">/月</span></h1>
								<small>1个月免费试用</small>
							
</div>
							<table class="table">
								<tr>
									<td>
										5 个账号
									</td>
								</tr>
								<tr class="active">
									<td>
										20 个项目
									</td>
								</tr>
								<tr>
									<td>
										300K API 访问
									</td>
								</tr>
								<tr class="active">
									<td>
										500MB 容量存储
									</td>
								</tr>
								<tr>
									<td>
										个性化云服务
									</td>
								</tr>
								<tr class="active">
									<td>
										每周报告
									</td>
								</tr>
							</table>
						
</div>
						<div class="panel-footer text-align-center">
								<a href="javascript:void(0);" class="btn btn-success" role="button">注册</a> 1个月免费试用
						
</div>
					
</div> 
 <!-- end priceGreenPanel -->
				
</div>
 <!-- end miniGridCol12 -->  

				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="panel panel-primary">
							<div class="panel-heading bg-color-blueDark txt-color-white">
								<h3 class="panel-title">钻石卡</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥99<span class="subscript">/月</span></h1>
								<small>1个月免费试用</small>
							
</div>
							<table class="table">
								<tr>
									<td>
										无限个账号
									</td>
								</tr>
								<tr class="active">
									<td>
										无限个项目
									</td>
								</tr>
								<tr>
									<td>
										3000K API 访问
									</td>
								</tr>
								<tr class="active">
									<td>
										无限容量存储
									</td>
								</tr>
								<tr>
									<td>
										个性化云服务
									</td>
								</tr>
								<tr class="active">
									<td>
										每周报告
									</td>
								</tr>
							</table>
						
</div>
						<div class="panel-footer text-align-center">
								<a href="javascript:void(0);" class="btn btn-success" role="button">注册</a> 1个月免费试用
						
</div>
					
</div>
 <!-- end pricePanel -->
				
</div>
 <!-- end miniGridCol12 -->  
			
</div>
  <!-- end gridRow -->  

			<hr> 
			<h1>简单的, <small>6 张一排</small></h1>
			<div class="row ">
    				<div class="col-xs-12 col-sm-4 col-md-2">
    					<div class="panel panel-orange"> 
							<div class="panel-heading ">
								<h3 class="panel-title">铜卡</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥10<span class="subscript">/月</span></h1>
								<small>1个月免费试用</small>
							
</div>
							<table class="table">
								<tr>
									<td>
										1 个账号
									</td>
								</tr>
								<tr class="active">
									<td>
										1 个项目
									</td>
								</tr>
								<tr>
									<td>
										100K API 访问
									</td>
								</tr>
								<tr class="active">
									<td>
										100MB 容量存储
									</td>
								</tr>
								<tr>
									<td>
										个性化云服务
									</td>
								</tr>
								<tr class="active">
									<td>
										每周报告
									</td>
								</tr>
							</table>
						
</div>
						<div class="panel-footer no-padding">
								<a href="javascript:void(0);" class="btn bg-color-orange txt-color-white btn-block" role="button">注册</a>
						
</div>
					
</div> 
 <!-- end pricePanelOrange -->
				
</div>
 <!-- end miniGridCol12 -->  

				<div class="col-xs-12 col-sm-4 col-md-2">
    					<div class="panel panel-purple">
							<img src="img/ribbon.png" class="ribbon">
						<div class="panel-heading ">
								<h3 class="panel-title">银卡</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥20<span class="subscript">/月</span></h1>
								<small>1个月免费试用</small>
							
</div>
							<table class="table">
								<tr>
									<td>
										2 个账号
									</td>
								</tr>
								<tr class="active">
									<td>
										5 个账号
									</td>
								</tr>
								<tr>
									<td>
										100K API 访问
									</td>
								</tr>
								<tr class="active">
									<td>
										200MB 容量存储
									</td>
								</tr>
								<tr>
									<td>
										个性化云服务
									</td>
								</tr>
								<tr class="active">
									<td>
										每周报告
									</td>
								</tr>
							</table>
						
</div>
						<div class="panel-footer no-padding">
								<a href="javascript:void(0);" class="btn bg-color-purple txt-color-white btn-block" role="button">注册</a>
						
</div>
					
</div> 
 <!-- end pricePanelPurple -->
				
</div>
 <!-- end miniGridCol12 -->  

				<div class="col-xs-12 col-sm-4 col-md-2">
    					<div class="panel panel-greenLight">
							<div class="panel-heading ">
								<h3 class="panel-title">金卡</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥35<span class="subscript">/月</span></h1>
								<small>1个月免费试用</small>
							
</div>
							<table class="table">
								<tr>
									<td>
										5 个账号
									</td>
								</tr>
								<tr class="active">
									<td>
										20 个工程
									</td>
								</tr>
								<tr>
									<td>
										300K API 访问
									</td>
								</tr>
								<tr class="active">
									<td>
										500MB 容量存储
									</td>
								</tr>
								<tr>
									<td>
										个性化云服务
									</td>
								</tr>
								<tr class="active">
									<td>
										每周报告
									</td>
								</tr>
							</table>
						
</div>
						<div class="panel-footer no-padding">
								<a href="javascript:void(0);" class="btn bg-color-greenLight txt-color-white btn-block" role="button">注册</a>
						
</div>
					
</div> 
 <!-- end pricePanelGreen -->
				
</div>
 <!-- end miniGridCol12 -->  

				<div class="col-xs-12 col-sm-4 col-md-2">
    					<div class="panel panel-blue">
							<div class="panel-heading ">
								<h3 class="panel-title">钻石卡</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥99<span class="subscript">/月</span></h1>
								<small>1个月免费试用</small>
							
</div>
							<table class="table">
								<tr>
									<td>
										无限个账号
									</td>
								</tr>
								<tr class="active">
									<td>
										无限个工程
									</td>
								</tr>
								<tr>
									<td>
										3000K API 访问
									</td>
								</tr>
								<tr class="active">
									<td>
										无限容量存储
									</td>
								</tr>
								<tr>
									<td>
										个性化云服务
									</td>
								</tr>
								<tr class="active">
									<td>
										每周报告
									</td>
								</tr>
							</table>
						
</div>
						<div class="panel-footer no-padding">
								<a href="javascript:void(0);" class="btn bg-color-blue txt-color-white btn-block" role="button">注册</a>
						
</div>
					
</div> 
 <!-- end pricePanelBlue -->
				
</div>
 <!-- end miniGridCol12 -->  

				<div class="col-xs-12 col-sm-4 col-md-2">
    					<div class="panel panel-redLight">
							<div class="panel-heading ">
								<h3 class="panel-title">金卡</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥35<span class="subscript">/月</span></h1>
								<small>1个月免费试用</small>
							
</div>
							<table class="table">
								<tr>
									<td>
										5 个账号
									</td>
								</tr>
								<tr class="active">
									<td>
										20 个工程
									</td>
								</tr>
								<tr>
									<td>
										300K API 访问
									</td>
								</tr>
								<tr class="active">
									<td>
										500MB 容量存储
									</td>
								</tr>
								<tr>
									<td>
										个性化云服务
									</td>
								</tr>
								<tr class="active">
									<td>
										每周报告
									</td>
								</tr>
							</table>
						
</div>
						<div class="panel-footer no-padding">
								<a href="javascript:void(0);" class="btn bg-color-redLight txt-color-white btn-block" role="button">注册</a>
						
</div>
					
</div> 
 <!-- end pricePanelRed -->
				
</div>
 <!-- end miniGridCol12 -->  

				<div class="col-xs-12 col-sm-4 col-md-2">
    					<div class="panel panel-pink">
							<div class="panel-heading ">
								<h3 class="panel-title">钻石卡</h3>
						
</div>
						<div class="panel-body no-padding text-align-center">
								<div class="the-price">
									<h1>￥99<span class="subscript">/月</span></h1>
								<small>1个月免费试用</small>
							
</div>
							<table class="table">
								<tr>
									<td>
										无限个账号
									</td>
								</tr>
								<tr class="active">
									<td>
										无限个项目
									</td>
								</tr>
								<tr>
									<td>
										3000K API 访问
									</td>
								</tr>
								<tr class="active">
									<td>
										无限容量存储
									</td>
								</tr>
								<tr>
									<td>
										个性化云服务
									</td>
								</tr>
								<tr class="active">
									<td>
										每周报告
									</td>
								</tr>
							</table>
						
</div>
						<div class="panel-footer no-padding">
								<a href="javascript:void(0);" class="btn bg-color-pink txt-color-white btn-block" role="button">注册</a>
						
</div>
					
</div> 
 <!-- end pricePanelPink -->
				
</div>
 <!-- end miniGridCol12 -->  
			
</div>
 <!-- end gridRow -->  
		
</div>
 <!-- end lightWellBox -->   
	
</div>
 <!-- end smallGridCol12 -->   

</div>
 <!-- end gridRow -->  

<script type="text/javascript">

	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */
	

	// PAGE RELATED SCRIPTS

	// pagefunction
	
	var pagefunction = function() {
		
	};
	
	// end pagefunction
	
	// run pagefunction on load

	pagefunction();

</script>