	<div class="row ">
    		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark"> 
				<i class="fa fa-fw fa fa-home"></i>
 其他页
			<span>
    > 时间轴 
</span>
		
</h1>
</div>

			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    		<ul id="sparks" >
    			<li class="sparks-info">
    				 <h5> 个人收入 <span class="txt-color-blue">$47,171</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
    					1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
				
</div>
			
</li>
			<li class="sparks-info">
    				<h5> 站点流量 <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
    					110,150,300,130,400,240,220,310,220,300, 270, 210
				
</div>
			
</li>
			<li class="sparks-info">
    				<h5> 站点营收 <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
    					110,150,300,130,400,240,220,310,220,300, 270, 210
				
</div>
			
</li>
		
</ul>
	
</div>
	
</div>
 
<div class="row ">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well well-sm">
	            <div class="smart-timeline">
    <ul class="smart-timeline-list ">
		                
                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2014-09-01</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>IT新人程浩加入</strong></a></p>
                <p>
                    本来没有准备吸收刚毕业不久的同学加入的，但是在面试的时候程浩同学给我留下了深刻的印象，因此破格引入到我们的团队中来。当然，先去打杂2个月再说，结果程浩同学打杂打得非常出色，因此正式加入到Tiny小组，开始参与一些基础性工作，让我们对他的表现拭目以待吧。
                </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2014-09-01</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>前台达人密缘之友加入</strong></a></p>
                <p>
                    密缘之友同学精于Eclipse插件开发，密缘之友同学的加入，弥补了团队中没有开发Web前台开发工程师的短板。前面由于没有Web前台开发工程师的加入，我的许多相法无法落实，密缘之友的加入，使得许多原来悬而未决的事情可以落地了。
                </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2014-05-17</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>学究达人塔罗大道加入</strong></a></p>
                <p>
                    塔罗大道先读本科，又在清华攻实硕士，虽然实践经验稍有不足，但是基本功扎实，上手迅捷，迅速成为团队骨干，发现诸多BUG，也提出了许多好的改进建议，整理了大量的文档，对于Tiny框架的完善做出了非常大的贡献。
                </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2014-05-13</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>Tiny框架发布1.2.0版本</strong></a></p>
                <p>
                    由于核心的集群算法进行了升级，导致兼容性有明显区别，因此Tiny框架升级到1.2.0牍本。
                </p>
                
    </div>
</li>


                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2014-05-03</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>Tiny框架发布1.1.0版本</strong></a></p>
                <p>
                    由于增加的模块很多，又由于使用本框架开发的产品要正式发布，为了商业推广上的原因，决定把版本升级到1.1.0版本。
                </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2014-04-01</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>工具达人达达加入</strong></a></p>
                <p>
                    达达同学精于Eclipse插件开发，达达同学的加入，弥补了团队中没有开发Eclipse插件的短板，由于<i>达达</i>的加入，许多配套的Eclipse插件逐步丰满起来，Tiny框架的开发效率也更高，更专业。
                </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2014-03-01</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>Tiny框架的第二个用户正式开始使用</strong></a></p>
                <p>
                    由于第一个产品在整个开发期当中，都稳定，高效，同时Tiny框架声明的各种良好特性也得到了良好的印证，因此第二个产品就自然而然开始了。
                </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2014-02-28</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>Tiny框架0.1.1正式发布</strong></a></p>
                <p>
                    Tiny框架在0.0.1版本之上，做了大量的扩展，比如：分布式计算框架等等，由于升级内容太多，因此直接由0.0.1升级到0.1.1版本。
                </p>
                
    </div>
</li>


                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2013-09-28</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>业务开发达人Nishihe加入</strong></a></p>
                <p>
                    Nishihe达人出手不凡，刚加入就解决了Tiny服务透明发布为WebService的重大难题，后来由于工作需要外派到其他项目组服务了相当长一段时间，现在回归，主要从事前台UI方面的一个组件封装方面的工作。
                </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2013-06-30</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>Tiny框架0.01版正式发布</strong></a></p>
                <p>
                    Tiny框架作为一个后台开发框架已经完全完整，并且在开始在正式项目中使用有了第一个用户。
                </p>
                
    </div>
</li>


                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2013-06-20</small>
    </div>
    <div class="smart-timeline-content">
		                    <p><a href="javascript:void(0);"><strong>Tiny框架正式入驻SourceForge</strong></a></p>
                    <p>
                        到2013年6月，正式考虑采用开源方式进行项目构建，因此考虑进入<a href="https://sourceforge.net/projects/tinyorg/" target="_blank">SourceForge</a>，此时又增加了<i>ballackhui</i>，项目进展更加
                    </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2013-04-01</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>数据库及众多模块达人Ballackhui加入</strong></a></p>
                <p>
                    Ballackhui当时准备离职跳槽到另外一家软件公司，虽然工资比跳出去少了一些，后来还是留了下来，并且参与了Tiny框架的许许多多的模块的开发与构建，这个时候的协作模式基本上是一人设计两人实现，简单高效。
                </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2012-04-20</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>框架核心实现达人Atizose加入</strong></a></p>
                <p>
                    Atizose的加入，使得Tiny框架的构建速度迅速提升，工作模式，基本上是我构建框架及重要类，其实现部分及单元测试相关，就由Atizose搞定。
                </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2012-03-14</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>Tiny框架正式启动</strong></a></p>
                <p>
                    Tiny框架启动之时，当时并没有想到开源，因此是自己搭建的配置库，项目进展比较迅捷，迅速构建了项目的主体结构。
                </p>
                
    </div>
</li>

                <li>
    <div class="smart-timeline-icon">
                    <i class="fa fa-pencil"></i>
            </div>
    <div class="smart-timeline-time">
        <small>2011-06-04</small>
    </div>
    <div class="smart-timeline-content">
		                <p><a href="javascript:void(0);"><strong>Tiny框架酝酿期</strong></a></p>
                <p>
                    当时策划的商业框架在应用当中存在的问题比较多，但是受限于公司体制，有些事情没有办法改变，但是<i>悠悠然然</i>认为应该搞出一个非常好的开发框架的，因此从这个时间段对许多技术点进行了验证性开发。
                </p>
                
    </div>
</li>

                <li class="text-center">
                    <a href="javascript:void(0)" class="btn btn-sm btn-default"><i class="fa fa-arrow-down text-muted"></i>
 加载更多</a>
                </li>
            
    </ul>
</div>
		
</div>
    
</div>

</div>

<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();

	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 */

	// pagefunction
	
	var pagefunction = function() {
		
	};
	
	// end pagefunction
	
	// run pagefunction on load

	pagefunction();

</script>